@media screen and (max-width: 720px){

  form{
    height: 50%;
  }

  table {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  thead{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  tr{
    display: flex;
    flex-direction: column;
  }

  .tableBusiness{
    width: 70%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  #negociacoesView {
    height: 100%;
  }
}