body{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  background-color: #e4ce6b;
  color: #fff;
}

h1{
  font-family: 'Poppins',
  sans-serif;
}

form{
  height: 60%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset{
  color: rgb(66, 66, 66);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  border: 3px solid #8f7501;
  box-shadow: 5px 5px 5px rgb(241, 241, 202);
  background-color: #fcefb4;
  height: 70%;
  width: 60%;
}

.form-group{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

label{
  font-size: 1.2rem;
}

input{
  font-family: 'Poppins';
  height: 30px;
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #8f7501;
  font-size: 1.1rem;
  font-weight: 500;
}

button{
  height: 40px;
  width: 70%;
  border-radius: 10px;
  border: 3px solid #8f7501;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #ffbb2a;
  color: #fff;
}

.tableBusiness {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 60%;
}

#negociacoesView{
  width: 100%;
}

table {
  background-color: #fcefb4;
  color: rgb(66, 66, 66);
  border: 3px solid #8f7501;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

th, td{
  font-size: 20px;
  background-color: #fff;
  border: 3px solid rgb(66, 66, 66);
  padding: 10px;
}

.header-table{
  width: 90%;
  height: 50px;
}

.body-table{
  width: 90%;
  height: 30px;
}